body {
	background-color: #444;
}

.nav>li span {
	position: relative;
	display: block;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #9d9d9d;
}

.sidepanel-glyph {
	padding-right: 10px;
}

.sidepanel-link {
	cursor: pointer;
}

.bound-users-list {
	padding-left: 20px;
	margin-top: 20px;
}