<!DOCTYPE html>
<html ng-app="idbsDemo" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/idbsDemo.css"/>
	
	<title>IdBS Demo App</title>
</head>
<body ng-controller="IdbsDemoController">
	<h1 style="text-align:center">
		IdBS Demo App
	</h1>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center">
				<form>
					<input type="text" value="http://localhost:8080/identity-binder/query" />
					<button type="submit" class="btn btn-primary" ng-click="getResponse()">Get token</button>
				</form>
			</div>
		</div>
		<div class="row">
			<pre>response = {{queryResponse | json}}</pre>
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.3.16/angular.min.js"></script>
	
	<script>
		angular.module('idbsDemo', [])
			.controller('IdbsDemoController', ['$scope', '$http', function($scope, $http) {
				$scope.queryResponse = {};
				
				$scope.getResponse = function() {
					$http({method: 'POST',
						   url: 'http://localhost:8080/identity-binder/query',
						   headers: {'Content-Type': 'application/x-www-form-urlencoded',
							         'Accept': 'application/json',
							         'Authorization': 'Bearer eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJjbGllbnQiLCJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3Q6ODA4MFwvb3BlbmlkLWNvbm5lY3Qtc2VydmVyLXdlYmFwcFwvIiwiZXhwIjoxNDM3NDI5OTgyLCJpYXQiOjE0Mzc0MjYzODIsImp0aSI6IjYwMGY0YTQ0LWM4YzctNDFiNC1hMWQ5LTU0OTUyNTA5MDYyMCJ9.jmbBRy3eG_BwFGFxUk8OiYvFT8DF-Po3WQPl7ipbagXDpsv9dgf-vVPKRAxzqT5xV3I2HZXWlBkECP63KeBqGy-KCmX0oDSchwTYW_4GYElun7A3joHiwjef0RW-8SOiJ9B1BFzCHBTrRecOZbOzKSAudPzjJ2wtbKP3eJzcA70'},
						   data: 'subject=90342.ASDFJWFA'}).success( function(res) {
					//$http.get('http://localhost:8080/identity-binder/query').success( function(res) {	
						$scope.queryResponse = res;
					});
				}
			}]);
	</script>
</body>
</html>
