<!DOCTYPE html>
<html ng-app="idbsDemo" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body ng-controller="IdbsDemoController">
	
	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div class="well">
					
				</div>
			</div>
			<div class="col-sm-10">
				<div class="well">
					<div class="row">
						<div class="col-sm-12 text-center">
							<!-- <form ng-submit="getToken()"> -->
								<!-- <input type="text" value="http://localhost:8080/identity-binder/query" /> -->
								<button class="btn btn-primary" ng-click="getToken()">Get token</button>
							<!-- </form> -->
						</div>
					</div>
					<div class="row">
						<pre>response = {{queryResponse | json}}</pre>
					</div>
				</div>
			</div>
		</div>
			
	</div>
	
	<!-- TODO: put this in separate file? -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.3.16/angular.min.js"></script>
	
	<script>
		angular.module('idbsDemo', [])
			.config(function($httpProvider) {
				$httpProvider.defaults.transformRequest = [function(obj) {
					return obj === undefined ? obj : $.param(obj);
				}];
			})
			.controller('IdbsDemoController', ['$scope', '$http', function($scope, $http) {
				
				var authToken = '';
				$scope.queryResponse = {};
				
				$scope.getToken = function() {
					console.log('getting token...');
					$http({method: 'POST',
						   url: 'http://localhost:8080/openid-connect-server-webapp/token',
						   headers: {'Content-Type': 'application/x-www-form-urlencoded'},
						   data: { 'client_id': 'client', 'client_secret': 'secret', 'grant_type': 'client_credentials', 'scope': 'org.mitre.idbind.query'}})
					.success( function(res) {
						authToken = res.access_token;
						console.log(res.access_token);
						getResponse();
					})
					.error( function(err) {
						console.log(err);
					});
				}
				
				var getResponse = function() {
					var authString = 'Bearer '+authToken;
					console.log(authString);
					$http({method: 'POST',
						   url: 'http://localhost:8080/identity-binder/query',
						   headers: {'Content-Type': 'application/x-www-form-urlencoded',
							         'Accept': 'application/json',
							         'Authorization': authString },
						   data: {'issuer':'http://localhost:8080/openid-connect-server-webapp/','subject':'90342.ASDFJWFA'}})
					.success( function(res) {
						$scope.queryResponse = res;
					});
				}
			}]);
	</script>
</body>
</html>
