<!DOCTYPE html>
<html ng-app="loginModule" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header"></head>

<body ng-controller="LoginCtrl">
	
	<!-- <nav th:replace="fragments/navbar :: navbar"></nav> -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<span class="navbar-brand">IdBS Demo App</span>
			</div>
			<!-- <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
				<li>
					<span>Logged in as</span>
				</li>
				<li>
					<span><strong>{{ userInfo.name }}</strong></span>
				</li>
				<li>
					<form class="navbar-form" th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-link" value="Log Out"/>
					</form>
				</li>
			</ul> -->
		</div>
	</nav>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="well" style="margin-top: 50px;">
					<h2 class="text-center">Log In</h2>
					<!-- <div ng-hide="register" class="container-fluid">	
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<label for="inputUsername">Username:</label>
								<input type="text" class="form-control" id="inputUsername" name="user" placeholder="User"/>
							</div>
							<div class="form-group">
								<label for="inputPassword">Password:</label>
								<input type="password" class="form-control" id="inputPassword" name="pass" placeholder="password"/>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center">
									<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
								</div>
							</div>
						</form>
						<div class="row" style="margin-top: 30px;">
							<div class="col-sm-12 text-center">
								<h4>New here? <a ng-click="showRegForm()">Register</a> now!</h4>
							</div>
						</div>
					</div>
					<div ng-show="register" class="container-fluid">
						<form>
							<div class="form-group">
								<label for="inputUsername">Username:</label>
								<input type="text" class="form-control" id="inputUsername" name="user" placeholder="User"/>
							</div>
							<div class="form-group">
								<label for="inputPassword">Password:</label>
								<input type="password" class="form-control" id="inputPassword" name="pass" placeholder="password"/>
							</div>
							<div class="form-group">
								<label for="reenterPassword">Reenter password:</label>
								<input type="password" class="form-control" id="reenterPassword" placeholder="password"/>
							</div>
							<div class="row" style="margin-top: 30px;">
								<div class="col-sm-6">
									<button type="submit" class="btn btn-primary pull-right">Register</button>
								</div>
								<div class="col-sm-6">
									<button ng-click="hideRegForm()" class="btn btn-danger">Cancel</button>
								</div>
							</div>
						</form>
					</div> -->
					<form name="identifier_form" action="openid_connect_login" method="get">
						<input type="text" style="display: none;" name="identifier" id="identifier" value="http://localhost:8080/openid-connect-server-webapp/"/>
						<button type="submit" id="login-button" class="btn btn-primary long-button">Log In</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://code.angularjs.org/1.3.16/angular.min.js"></script>
	
	<script src="js/login.js"></script>

</body>
</html>